.quiz-fieldset {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 24px;
    padding: 20px;
    border-width: 2px;
    border-radius: 10px;
}

.quiz-legend {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.quiz-radio {
    font-size: 18px;
    margin-bottom: 12px;
}
